@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #f1f1f2;
}

header {
  width: 100%;
  height: 100vh;
}

header nav {
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5rem;
}

header nav img {
  height: 40px;
}

header nav ul {
  display: flex;
  list-style: none;
}

header nav ul li {
  margin: 1rem;
}

header nav ul li a {
  text-decoration: none;
  color: #09090a;
  font-weight: 500;
  animation: link 0.5s ease-in;
}

header nav ul li a:hover {
  border-bottom: 3px solid #09090a;
}
/* 
@keyframes link {
  from {
    margin-right: 5px;
  }
  to {
    margin-right: 0px;
  }
} */

@media only screen and (max-width: 615px) {
  header nav {
    display: block;
    width: 100%;
    padding: 0 1rem;
  }
  header nav img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  header nav ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    margin-top: 1rem;
  }
  header nav ul li {
    margin: 0rem;
  }
}

@media only screen and (max-width: 360px) {
  header nav {
    padding: 0.2rem;
  }
  header nav ul {
    display: flex;
    flex-direction: column;
  }

  header nav ul li {
    margin: 0.5rem;
  }
}

section.banner {
  height: calc(100vh - 3rem);
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/img/bg.jpg") no-repeat center center;
  background-size: cover;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

section.banner .banner__text {
  margin: 5rem;
  line-height: 1.1;
}
section.banner .banner__text h2 {
  font-weight: 800;
  font-size: 60px;
  color: #f1f1f2;
}

section.banner .banner__text p {
  font-weight: 500;
  color: #ccc;
  font-size: 20px;
}

section.banner .banner__text button {
  border: 1px solid #f1f1f2;
  outline: none;
  padding: 1em;
  margin-top: 1.5rem;
  border-radius: 10px;
  background-color: transparent;
  color: #f1f1f2;
  font-weight: 800;
  cursor: pointer;
  animation: 2s ease-in-out;
}

section.banner .banner__text button:hover {
  background-color: #f1f1f2;
  color: #09090a;
  transition: 0.5s ease-in;
}
